$footer-height: rem-calc(214px);
$footer-padding: rem-calc(20px);
$footer-height-total: $footer-height + $footer-padding;

@include breakpoint(medium up) {
  // Sticky footer styles
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  #page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -$footer-height-total;
  }
  #page-wrap:after {
    content: "";
    display: block;
  }
  footer, #page-wrap:after {
    height: $footer-height-total;
  }
}

footer {
  background: #3f3f3f;
  color: #fff;
  min-height: $footer-height-total;
  padding: rem-calc(20px 0);

  .footer-links {
    a {
      color: $white; 
    }
  }
}
