$footer-height: rem-calc(296px);
$footer-padding: rem-calc(20px);
$footer-height-total: $footer-height + $footer-padding;

@include breakpoint(medium up) {
  // Sticky footer styles
  * {
    margin: 0;
  }
  html, body, .loading-wrapper {
    height: 100%;
  }
  #page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -$footer-height-total;
  }
  #page-wrap:after {
    content: "";
    display: block;
  }
  footer, #page-wrap:after {
    height: $footer-height-total;
  }
}

footer {
  background: $darkest-gray;
  color: $white;
  font-size: rem-calc(14);
  min-height: $footer-height-total;
  padding: rem-calc($footer-padding 0);

  @include breakpoint(small only) {
    padding-bottom: 0;
  }

  .bottom {
    @include breakpoint(small only) {
      margin-top: rem-calc(20px);
    }
    background: #2e2e2e;
    border-top: 1px solid $dark-gray;
    padding: rem-calc(5px 0);

    p {
      margin: 0;
    }
  }

  a {
    transition: all .2s ease-in-out;

    img {
      transition: all .2s ease-in-out;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }

  .footer-links a {
    display: inline-block;
    height: rem-calc(28px);
    width: rem-calc(36px);

    &.tripadvisor {
      margin-left: 5px;
    }
  }

  .awards {
    height: rem-calc(276px);
    @include breakpoint(small only) {
      height: auto;
    }
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      @media screen and (min-width: 640px) and (max-width: 736px) {
        margin-left: 0;
      }

      display: inline-block;
      margin-left: rem-calc(10px);

      &:first-of-type {
        margin-left: 0;
      }
    }

    img {
      @media screen and (min-width: 640px) and (max-width: 736px) {
        margin-left: 0;
        margin-bottom: rem-calc(15px);
      }

      margin-left: rem-calc(10px);

      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  @include breakpoint(small only) {
    .info {
      margin: rem-calc(20px 0 10px 0);
    }
  }
}
