#main-menu {
  display: inline-block;
  margin: 0 auto;

  li {
    a {
      color: $dark-gray;
    }
  }

  li.active a, li a:hover {
    color: $menu-green;
  }

  @include breakpoint(small only) {
    width: 100%;
    padding-bottom: rem-calc(20px);
  }
}

.sticky {
  width: 100%;
}

.no-js .title-bar {
  display: none;
}

.menu-wrap {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid $light-gray;
}
