.full-screen-slide {
  height: 100%;
  width: 100%;
  background-size: cover !important;
}

.slick-slider{
  height: 100%;
}

.slick-list,
.slick-track {
  height: 100%;
}

.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
