<table class="stack">
  <thead>
    <tr>
      <th></th>
      <th>Low season*</th>
      <th>High season**</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="room-name"><strong>The Blue Room</strong></td>
      <td>£90<span class="show-for-small-only"> <small><strong>(Low season*)</strong></small></span></td>
      <td>£105<span class="show-for-small-only"> <small><strong>(High season*)</strong></small></span></td>
    </tr>
    <tr>
      <td class="room-name"><strong>The Jade Room</strong></td>
      <td>£90<span class="show-for-small-only"> <small><strong>(Low season*)</strong></small></span></td>
      <td>£105<span class="show-for-small-only"> <small><strong>(High season*)</strong></small></span></td>
    </tr>
    <tr>
      <td class="room-name"><strong>The Gold Room</strong></td>
      <td>£90<span class="show-for-small-only"> <small><strong>(Low season*)</strong></small></span></td>
      <td>£105<span class="show-for-small-only"> <small><strong>(High season*)</strong></small></span></td>
    </tr>
  </tbody>
</table>
