<footer class="footer">
  <div class="row text-center">
    <div class="awards small-12 medium-4 columns">
      {{> awards_links_left }}
      {{> footer_widget }}
    </div>
    <div class="info small-12 medium-4 columns">
      <p><strong>For reservations, enquires & information:</strong></p>
      <p class="footer-links">
        <a class="facebook" href="https://www.facebook.com/thecors/">
          <img src="{{root}}assets/img/footer/facebook.png" alt="Facebook">
        </a>
        <a class="twitter" href="https://twitter.com/corsrestaurant">
          <img src="{{root}}assets/img/footer/twitter.png" alt="twitter">
        </a>
        <a class="tripadvisor" href="https://www.tripadvisor.co.uk/VacationRentalReview-g552054-d14182471-The_Cors_Country_House-Laugharne_Carmarthenshire_Wales.html">
          <img src="{{root}}assets/img/footer/tripadvisor.png" alt="tripadvisor">
        </a>
      </p>
      <ul class="no-bullet">
        <li>
          <p>
            The Cors Country House,
            <br>Newbridge Road,
            <br>Laugharne,
            <br>Carmarthenshire,
            <br>SA33 4SH
          </p>
        </li>
        <li>Call us: 07814 641 977</li>
        <li><a href="mailto:greatwelshescapes@gmail.com">Email us</a></li>
      </ul>
    </div>
    <div class="awards small-12 medium-4 columns">
      {{> awards_links_right }}
      {{> footer_widget_right }}
    </div>
  </div>
  <div class="bottom">
    <div class="row">
      <div class="small-12 columns">
        <p class="float-left"><small><a href="http://chrislusted.co.uk">Website by Chris Lusted</a></small></p>
        <p class="float-right"><small data-copyright></small></p>
      </div>
    </div>
  </div>
</footer>
