<footer class="footer">
  <div class="row">
    <div class="small-12 medium-6 large-5 columns">
      <p class="logo">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-tripadvisor" aria-hidden="true"></i>
      </p>
      <p class="footer-links">
        For reservations, enquires, books & information:
        Phone: 01994 427 219
        Email: nick@thecors.co.uk
        The Cors, Newbridge Road, Laugharne, Carmarthenshire, SA33 4SH
      </p>
      <p class="copywrite">Copyright © 2016</p>
    </div>
  </div>
</footer>
