<div id="TA_certificateOfExcellence924" class="TA_certificateOfExcellence">
  <ul id="0tws0aB4X" class="TA_links spDZMJT">
    <li id="0jJratF" class="MmH8vkg6V32">
      <a target="_blank" href="https://www.tripadvisor.co.uk/Hotel_Review-g552054-d655031-Reviews-The_Cors_Restaurant_Rooms-Laugharne_Carmarthenshire_Wales.html"><img src="https://www.tripadvisor.co.uk/img/cdsi/img2/awards/CoE2016_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
      </li>
  </ul>
</div>
<script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=924&amp;locationId=655031&amp;lang=en_UK&amp;year=2016&amp;display_version=2"></script>
