<footer class="footer">
  <div class="row">
    <div class="small-3 columns text-center">
      <p>Awards Logos here</p>
    </div>
    <div class="small-6 columns text-center">
      <p class="footer-links">
        <a href="https://www.facebook.com/thecors/">
          <i class="fa fa-2x fa-fw fa-facebook-official" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/corsrestaurant">
          <i class="fa fa-2x fa-fw fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g552054-d718551-Reviews-The_Cors_Country_House_Restaurant-Laugharne_Carmarthenshire_Wales.html">
          <i class="fa fa-2x fa-fw fa-tripadvisor" aria-hidden="true"></i>
        </a>
      </p>
      <ul class="info no-bullet">
        <li>For reservations, enquires, books & information:</li>
        <li>Phone: 01994 427 219</li>
        <li>Email: <a href="mailto:nick@thecors.co.uk">nick@thecors.co.uk</a></li>
        <li>The Cors, Newbridge Road, Laugharne, Carmarthenshire, SA33 4SH</li>
      </ul>
      <p class="copywrite">Copyright © 2016</p>
    </div>
    <div class="small-3 columns text-center">
      <p>Awards Logos here</p>
    </div>
  </div>
</footer>
