<footer class="footer">
  <div class="row">
    <div class="info small-12 medium-5 columns">
      <p><strong>For reservations, enquires, books & information:</strong></p>
      <ul class="no-bullet">
        <li>
          <p>
            The Cors Country House,
            <br>Newbridge Road,
            <br>Laugharne,
            <br>Carmarthenshire,
            <br>SA33 4SH
          </p>
        </li>
        <li>Call us: 07814 641 977</li>
        <li><a href="mailto:greatwelshescapes@gmail.com">Email us</a></li>
      </ul>
    </div>
    <div class="small-12 medium-3 columns">
      <p><strong>Links</strong></p>
      <p class="footer-links">
        <a href="https://www.facebook.com/thecors/">
          <i class="fa fa-2x fa-fw fa-facebook-official" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/TheCorsCountry">
          <i class="fa fa-2x fa-fw fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g552054-d718551-Reviews-The_Cors_Country_House_Restaurant-Laugharne_Carmarthenshire_Wales.html">
          <i class="fa fa-2x fa-fw fa-tripadvisor" aria-hidden="true"></i>
        </a>
      </p>
    </div>
  </div>
  <div class="bottom">
    <div class="row">
      <div class="small-12 medium-8 columns">
        <p><small><a href="http://chrislusted.co.uk">Website by Chris Lusted</a></small></p>
      </div>
      <div class="small-12 medium-4 columns">
        <p><small>Copyright © 2016<small></p>
      </div>
    </div>
  </div>
</footer>
