<div class="large reveal text-center" id="introModal" data-reveal data-close-on-click="true" data-animation-in="spin-in" data-animation-out="spin-out">
  <h1>It’s time for a change in 2017….</h1>
  <p>After over 30 years in the restaurant business, 10 years of the Stable Door Winebar, and 22 years at The Cors Restaurant, Laugharne, it’s time for a change! </p>
  <p>I want to put the emphasis on the B&B side of the business and get away from the <i>‘fyne dining’</i> and cooking-to-order restaurant side. I’m still going to be open for private parties and functions (10 people or more) and you get the whole place to yourselves.</p>
  <p>For the B&B’s delicious comfort food is available by arrangement, it will offer a simpler more informal style of dining, think brasserie, wine bar, tapas style food.</p>
  <p>A big thank you to all my customers who have supported me over many years, and don’t forget you have only to get together 10 people or more for private dining, parties and functions. We will also be open for special events such as the Laugharne Festival Weekend (every April), Valentine’s Day, New Years and garden functions.</p>
  <p>Brasserie/Bistro food will be available most weekends, please check for opening times.</p>
  <p>
    Thank you,<br>
    Nick Priestland
  </p>

  <button class="button" data-close aria-label="Close modal" type="button">
    Close
  </button>
</div>
