<div class="menu-wrap text-center">
  <div class="row column">
    <div class="title-bar text-left" data-responsive-toggle="main-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <ul class="vertical medium-horizontal menu" id="main-menu">
      <li {{#ifpage 'index'}}class="active"{{/ifpage}}><a href="/">Home</a></li>
      <li {{#ifpage 'rooms'}}class="active"{{/ifpage}}><a href="/rooms.html">Rooms</a></li>
      <li {{#ifpage 'private-dining'}}class="active"{{/ifpage}}><a>Private Dining</a></li>
      <li class="hide-for-small-only"><a><img src="assets/img/logo-transparent-125.png" width="125" /></a></li>
      <li {{#ifpage 'garden'}}class="active"{{/ifpage}}><a>Garden</a></li>
      <li {{#ifpage 'tariff'}}class="active"{{/ifpage}}><a>Tariff</a></li>
      <li {{#ifpage 'contact'}}class="active"{{/ifpage}}><a>Contact</a></li>
    </ul>
  </div>
</div>
