<div class="menu-wrap text-center">
  <div class="row column">
    <div class="title-bar text-left" data-responsive-toggle="main-menu" data-hide-for="medium">
      <div class="float-left">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
      </div>
      <div class="float-right">
        <a class="hide-for-medium-up" href="/">
          <img src="assets/img/logo-transparent-125.png" width="75" />
        </a>
      </div>
    </div>

    <ul class="vertical medium-horizontal menu" id="main-menu" data-animate="hinge-in-from-top hinge-out-from-top">
      <li {{#ifpage 'index'}}class="active"{{/ifpage}}><a href="/">Home</a></li>
      <li {{#ifpage 'rooms'}}class="active"{{/ifpage}}><a href="/rooms.html">Rooms</a></li>
      <li {{#ifpage 'dining'}}class="active"{{/ifpage}}><a href="/dining.html">Private Dining</a></li>
      <li class="hide-for-small-only"><a href="/"><img src="assets/img/logo-transparent-125.png" width="125" /></a></li>
      <li {{#ifpage 'garden'}}class="active"{{/ifpage}}><a href="/garden.html">Garden</a></li>
      <li {{#ifpage 'tariff'}}class="active"{{/ifpage}}><a href="/tariff.html">Tariff</a></li>
      <li {{#ifpage 'contact'}}class="active"{{/ifpage}}><a href="/contact.html">Contact</a></li>
    </ul>
  </div>

</div>
