{{!-- This is the base layout for your project, and will be used on every page. --}}
<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Cors Country House</title>
  <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16" />
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet"> {{> loader }} {{> google_analytics }}
  <link rel="stylesheet" href="{{root}}assets/css/app.css"> {{#ifpage 'contact'}} {{> google_map_assets}} {{/ifpage}}
</head>

<body class="loading">
  <div class="loading-wrapper">
    {{#ifpage 'index'}} {{> menu}} {{> body}} {{/ifpage}} {{#unlesspage 'index'}}
    <div id="page-wrap" class="{{ page }}">
      {{> menu}} {{> body}}
    </div>
    {{/unlesspage}} {{> footer}} {{> intro_modal }}`
  </div>
  <script src="{{root}}assets/js/app.js"></script>
</body>

</html>